<div class="row">
	
	<form action="/activity/upload" method="post" accept-charset="utf-8" enctype="multipart/form-data" class="dropzone">
		<div>
			<h3>Drag your gpx files here</h3>

			<p>(or just click)</p>
			
			<!-- <div class="radio">
					<label>
							<input type="radio" name="activityType" id="inputActivityType" value="running" checked="checked">
							Running
					</label>
					<label>
							<input type="radio" name="activityType" id="inputActivityType" value="cycling" >
							Cycling
					</label>
			</div> -->
			
			
		</div>
	</form>
	<p>
		<a href="/activity/reset">Reset</a>
	</p>
</div>